/* About */
.about {
  margin-top: 44px;
  max-width: 310px;/*new*/
  margin-left: auto;/*new*/
  margin-right: auto;/*new*/

  &__list {
    margin: 0;
    list-style: none;
    padding-left: 80px;
  }

  &__list-item {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    margin: 0;
    position: relative;

    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: $gray-900;
    font-weight: 400;

    &::before {
      content: "";
      display: block;
      width: 41px;
      height: 44px;
      background-image: url("../../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      background-size: cover;

      position: absolute;
      left: -34%;
      top: 6%;
      z-index: 2;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/advantage-leaf@2x.png");
      }
    }

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      background: $green-500;

      position: absolute;
      top: -7%;
      left: -38%;
      z-index: -1;
    }
  }

  &__text--powder {
    &::before {
      background-image: url("../../img/advantage-powder@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/advantage-powder@2x.png");
      }
    }
  }

  &__text--dining {
    &::before {
      background-image: url("../../img/advantage-dining@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/advantage-dining@2x.png");
      }
    }
  }

  &__text--clock {
    &::before {
      background-image: url("../../img/advantage-clock@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/advantage-clock@2x.png");
      }
    }
  }
}

/* About Media */
@media (min-width: 768px) {
  .about {
    margin-top: 32px;
    padding-right: 79px;
    max-width: none;/*new*/

    &__list {
      padding-left: 0;

      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 145px;
      row-gap: 37px;

      counter-reset: title;
      list-style-type: none;
    }

    &__list-item {
      margin-bottom: 0;
      position: relative;

      &::before {
        content: counter(title);
        counter-increment: title;

        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;

        font-family: "Oswald", "Arial", sans-serif;
        font-size: 280px;
        line-height: 1;
        color: #f2f2f2;
        font-weight: 400;
      }
    }

    &__text {
      padding-top: 151px;
      padding-bottom: 57px;
      font-size: 16px;
      line-height: 1.5;

      &::before {
        width: 50px;

        top: 20%;
        left: 6%;
      }

      &::after {
        width: 80px;
        height: 80px;

        top: 40px;
        left: 0;
      }
    }
  }
}

@media (min-width: 1250px) {
  .about {
    padding-right: 0;

    &__list {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 89px;
    }
  }
}
