/* Additional */
.additional {
  margin-top: 35px;

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 40px 0;
  }

  &__list-item {
    padding-top: 13px;
    padding-bottom: 19px;
    border-top: 1px solid $gray-500;

    &:last-child {
      border-bottom: 1px solid $gray-500;
    }
  }

  &__list-title {
    margin: 0 0 13px 0;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #222222;
    text-transform: uppercase;
    text-align: left;
  }

  &__list-group {
    display: flex;
    justify-content: space-between;
  }

  &__list-text {
    margin: 0 0 15px 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1;
    color: $gray-900;
  }

  &__gift {
    margin-bottom: 35px;
    position: relative;
    max-width: 280px;/*new*/
    margin-left: auto;/*new*/
    margin-right: auto;/*new*/
  }

  &__gift-icon {
    width: 78px;
    height: 80px;
    fill: white;

    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -38px;
    z-index: 1;
  }

  &__gift-text {
    max-width: 161px;
    text-align: center;
    font-family: "Arial", sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;

    position: absolute;
    bottom: 43px;
    left: 50%;
    margin-left: -80px;
    z-index: 1;
  }

  &__btn {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Additional Media */
@media (min-width: 768px) {
  .additional {
    margin-top: 80px;

    &__list {
      margin-bottom: 69px;
      border: 1px solid $gray-500;
    }

    &__list-item {
      padding: 24px 37px 31px;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    &__list-title {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      text-align: left;
    }

    &__list-group__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
    }

    &__list-text {
      margin: 0;
      margin-right: 50px;
      font-size: 16px;
      line-height: 1.25;

      &:last-child {
        margin-right: 0;
      }
    }

    &__gift {
      margin-bottom: 76px;
      max-width: none;/*new*/
    }

    &__gift-icon {
      top: 50%;
      transform: translateY(-50%);
      left: 11%;
      margin-left: 0;
    }

    &__gift-text {
      top: 50%;
      transform: translateY(-50%);
      left: 61%;
      text-align: left;
      margin-left: 0;
    }
  }
}

@media (min-width: 1250px) {
  .additional {
    margin-bottom: 86px;
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 79px;
    align-items: start;

    &__list {
      margin-bottom: 0;
      border: 0;
    }

    &__list-item {
      display: grid;
      grid-template-columns: 1fr 244px;
      column-gap: 40px;
      padding: 17px 0 16px;

      &:first-child {
        border-top: 1px solid $gray-500;
      }

      &:last-child {
        border-bottom: 1px solid $gray-500;
      }
    }

    &__list-text {
      margin: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    &__btn {
      max-width: 244px;
    }

    &__list-group__wrapper {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__gift {
      margin: 0;
    }

    &__gift-icon {
      top: 34%;
      transform: translateY(-50%);
      left: 50%;
      margin-left: -38px;
    }

    &__gift-text {
      text-align: center;
      top: 71%;
      left: 43px;
      margin-left: 0;
    }
  }
}
