/* Example */
.example {
  overflow: hidden;

  &__content {
    margin-bottom: 42px;
  }

  &__content-maintext {
    margin-top: 36px;
    margin-bottom: 25px;

    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: $gray-900;
  }

  &__content-fieldsets {
    margin-bottom: 22px;

    display: flex;
    justify-content: space-between;
  }

  &__content-fieldset {
    margin: 0;
    max-width: 124px;
    min-height: 64px;

    border: 1px solid $gray-500;
    border-radius: 3px;

    transform: rotateX(180deg);
  }

  &__content-legend {
    max-width: 77px;

    text-align: center;
    font-size: 12px;
    line-height: 1;
    color: $gray-900;
    font-family: "Arial", sans-serif;

    transform: rotateX(180deg);
  }

  &__content-text {
    margin: 2px 30px 5px 28px;
    padding: 0;
    white-space: nowrap;

    text-align: center;
    font-size: 24px;
    line-height: 1;
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;

    transform: rotateX(180deg);

    &--another {
      margin: 2px 10px 5px 5px;
    }
  }

  &__cost {
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
  }

  &__slider-photo__inner-first {
    display: flex;
    justify-content: center;
  }

  &__slider-photo__before {
    margin-top: -6px;
    margin-left: -15px;

    max-width: 114%;
    object-fit: contain;
  }

  &__slider-photo__after {
    display: none;
  }

  &__slider-range {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slider-scale {
    width: 84px;
    height: 14px;
    background: #ffffff;
    border: 1px solid $gray-500;
    border-radius: 6px;
  }

  &__slider-toggle {
    display: block;
    border: none;
    margin: 3px 42px 3px 5px;
    width: 35px;
    height: 6px;
    background: $green-500;
    border-radius: 6px;
  }

  &__slider-text {
    padding: 0;
    margin: 0 15px 0 20px;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
    cursor: pointer;

    border: none;
    outline: none;
    display: inline-block;
    background: transparent;
  }
}

/* Example  Media */
@media (min-width: 768px) {
  .example {
    padding-bottom: 5px;

    &__content {
      margin-bottom: 60px;
    }

    &__content-maintext {
      margin-top: 63px;
      margin-bottom: 54px;

      font-size: 16px;
      line-height: 1.5;
    }

    &__content-footer {
      display: flex;
      justify-content: space-between;
    }

    &__content-fieldsets {
      margin: 0;

      display: flex;
      justify-content: start;
    }

    &__content-fieldset {
      margin-right: 42px;
      max-width: 162px;
      min-height: 77px;
    }

    &__content-legend {
      max-width: none;
      padding: 0 6px;
      font-size: 14px;
    }

    &__content-text {
      margin: 3px 45px;
      font-size: 30px;
      white-space: nowrap;
      line-height: 1.23;
      padding: 0;

      &--another {
        margin: 3px 15px;
      }
    }

    &__cost {
      margin-top: 10px;
      max-width: 174px;
      text-align: right;
      font-size: 20px;
      line-height: 1;
    }

    &__cost-text {
      display: inline-block;
      margin-bottom: 10px;
    }

    /* Example slider images */

    &__slider-wrapper {
      position: relative;
      max-width: 900px;
      height: 545px;
      margin: 0 auto;
      display: flex;
    }

    &__slider-photo__inner-first {
      display: flex;
      justify-content: start;
    }

    &__slider-photo__inner-first,
    &__slider-photo__inner-second {
      width: 50%;
      height: 100%;
      overflow: hidden;

      &::after {
        content: "";
        display: block;
        clear: both;
      }
    }

    &__slider-photo__before,
    &__slider-photo__after {
      height: 100%;
      width: auto;
      object-fit: cover;
    }

    &__slider-photo__before {
      margin: 0;
      max-width: initial;
      float: left;
    }

    &__slider-photo__after {
      display: block;
      float: right;
    }

    /* ./Example slider images */

    &__slider-range {
      margin-top: 5px;
      margin-left: 0;
    }

    &__slider-scale {
      width: 428px;
      height: 6px;
      background: $gray-600;
      border: none;

      position: relative;
    }

    &__slider-toggle {
      margin: 0;
      width: 34px;
      height: 34px;
      background: #ffffff;
      border-radius: 50%;
      border: 1px solid $gray-500;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50%;
      margin-left: -15px;

      box-shadow: 0 1px 3px 0 rgba(0, 1, 1, 0.2);
      cursor: pointer;
      outline: none;

      &::before {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        background: $green-500;
        border-radius: 50%;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        margin-left: -4px;
      }

      &:hover {
        box-shadow: 0 1px 4px 0 rgba(0, 1, 1, 0.2);
      }

      &:focus {
        border: 1px solid $green-500;
      }
    }

    &__slider-text {
      margin: 0 20px;
      font-size: 20px;
      line-height: 1.5;
      border-bottom: 1px dotted $gray-500;

      &:hover {
        border-bottom: 1px solid $gray-500;
      }

      &:focus {
        border-color: transparent;
      }
    }
  }
}

@media (min-width: 1250px) {
  .example {
    margin-top: -113px;
    display: grid;
    grid-template-columns: 436px 1fr;
    column-gap: 134px;
    align-items: flex-end;

    &__content {
      margin: 0;
    }

    &__content-maintext {
      margin: 0;
      margin-top: 50px;
      margin-bottom: 68px;
    }

    &__content-footer {
      justify-content: start;
      align-items: flex-start;
      flex-direction: column;
    }

    &__content-fieldsets {
      margin-bottom: 57px;
    }

    &__cost {
      padding-bottom: 8px;
      margin-top: 0;
      max-width: initial;
      text-align: left;
    }

    &__cost-text {
      margin-bottom: 0;
      margin-right: 63px;
    }

    &__slider-wrapper {
      max-width: 705px;
      height: 536px;
    }

    &__slider-range {
      margin-top: 20px;
    }
  }
}
