/* Extra */
.extra {
  margin: 34px 0;

  &__group {
    margin-bottom: 13px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &__checkbox + label::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $gray-500;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &__checkbox:active + label {
    opacity: 0.3;
  }

  &__checkbox:checked + label::before {
    background-color: #ffffff;
    background-image: url("../../img/icon-tick.svg");
  }

  &__label {
    cursor: pointer;
    flex-grow: 1;
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
    color: #000000;
  }
}

/* Extra Media */
@media (min-width: 768px) {
  .extra {
    padding-left: 40px;
    margin: 55px 0 57px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 33px;
    column-gap: 27px;

    &__checkbox + label::before {
      width: 40px;
      height: 40px;
      margin-right: 18px;
    }

    &__label {
      font-size: 20px;
      line-height: 1.5;
    }

    &__group {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1250px) {
  .extra {
    padding-left: 0;
    margin: 57px 0 62px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0;
    column-gap: 90px;
  }
}
