/* Fieldset */
.fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-top: 2px solid $green-500;

  &__title {
    display: block;
    background: white;
    width: max-content;
    padding: 0 20px;
    margin: -16px 0 0 -20px;
    font-size: 24px;
    line-height: 1.08;
    font-weight: 400;
    color: #000000;

    &--second {
      max-width: 221px;
    }
  }
}

/* Fieldset Media */
@media (min-width: 768px) {
  .fieldset {
    &__title {
      margin-left: 20px;
      margin-top: -23px;
      font-size: 36px;
      line-height: 1;

      &--second {
        max-width: 555px;
      }
    }
  }
}

@media (min-width: 1250px) {
  .fieldset {
    &__title {
      margin-left: -20px;
    }
  }
}
