/* Intro */
.intro {
  text-align: center;
  padding-top: 27px;
  position: relative;
  margin-left: auto;/*new*/
  margin-right: auto;/*new*/
  max-width: 320px;/*new*/

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
  }

  &__subtitle {
    margin: 0;
    padding-bottom: 300px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      width: 280px;
      height: 270px;
      background: url("../../img/index-can-mobile@1x.png") no-repeat;

      position: absolute;
      top: 43px;
      left: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index-can-mobile@2x.png");
        background-size: cover;
      }
    }
  }

  &__btn {
    padding: 10px 44px;
  }
}

/* Intro  Media */
@media (min-width: 768px) {
  .intro {
    padding-top: 62px;
    padding-left: 88px;
    padding-bottom: 405px;
    text-align: left;
    max-width: none;/*new*/

    &::after {
      content: "";
      width: 660px;
      height: 600px;
      background: url("../../img/index-can-tablet@1x.jpg") no-repeat;

      position: absolute;
      top: 35%;
      left: 1%;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index-can-tablet@2x.jpg");
        background-size: cover;
      }
    }

    &__title {
      margin-bottom: 43px;
      max-width: 414px;
      font-size: 60px;
      color: #000000;
    }

    &__subtitle {
      padding-bottom: 50px;
      max-width: 283px;
      font-size: 20px;
      color: #000000;

      &::after {
        display: none;
      }
    }

    &__btn {
      width: auto;
      display: inline-block;
      padding: 14px 24px;
      font-size: 20px;
    }
  }
}

@media (min-width: 1250px) {
  .intro {
    padding-top: 111px;
    padding-left: 83px;
    padding-bottom: 188px;

    &::after {
      background: url("../../img/index-can-desktop@1x.png") no-repeat;
      top: 5%;
      left: 37%;
      z-index: 1;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index-can-desktop@2x.png");
        background-size: 552px;
      }
    }

    &__title {
      margin-bottom: 40px;
    }

    &__subtitle {
      padding-bottom: 52px;
    }
  }
}
