/* Nav  */
.nav {
  display: none;
  width: 100%;
  background-color: #ffffff;
  padding-top: 17px;

  &__link {
    display: block;
    margin: 0;
    padding: 20px 0;
    text-align: center;

    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;

    border-top: 1px solid $gray-400;

    transition: opacity 0.2s linear;

    &:last-child {
      border-bottom: 1px solid $gray-400;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.nav.active {
  display: block;
  order: 1;
}

/* Nav Media */
@media (min-width: 768px) {
  .nav {
    padding-top: 5px;
    width: auto;
    display: block;
    position: static;
    background: none;

    &__link {
      display: inline-block;
      vertical-align: top;
      padding: 0;
      margin: 0 0 0 28px;
      border: 0;

      position: relative;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.3;

      &:last-child {
        border: 0;
      }
    }
  }

  .nav__link.active {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $green-500;

      position: absolute;
      top: 120%;
      left: 0;
      z-index: 1;
    }
  }

  .nav-toggle {
    display: none;
  }
}

@media (min-width: 1250px) {
  .nav {
    padding-top: 0;

    &__link {
      margin-left: 25px;
      font-size: 20px;
      line-height: 1.5;
    }

    &__link--white {
      color: #ffffff;
    }
  }

  .nav__link--white.active {
    &::after {
      background-color: #ffffff;
    }
  }
}
