/* Products */
.products {
  margin-top: 41px;

  &__item {
    padding-top: 19px;
    padding-bottom: 25px;
    width: 100%;
    position: relative;
    border-top: 1px solid $gray-350;
  }

  &__content {
    padding-bottom: 21px;
    padding-left: 138px;
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__title {
    display: inline-block;
    max-width: 76px;
    margin-bottom: 11px;

    font-size: 16px;
    line-height: 1.25;
    color: $gray-950;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__table {
    width: 100%;

    tr {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    td {
      font-family: "Arial", sans-serif;
      font-size: 12px;
      line-height: 1.2;
      color: $gray-900;
    }
  }

  &__btn {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &__item--special {
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__photo-plus {
    width: 30px;
    height: 30px;
  }

  &__title-special {
    margin-top: 19px;
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    color: $gray-1000;
    text-decoration: none;
  }

  &__subtitle-special {
    margin-bottom: 21px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 1.33;
    color: $gray-900;
  }
}

/* Products  Media */
@media (min-width: 768px) {
  .products {
    margin-top: 165px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 140px;

    &__item {
      padding: 161px 36px 42px;
      border: none;
      background: $gray-300;
    }

    &__content {
      padding: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__photo {
      top: -12%;
      z-index: 1;
    }

    &__photo--big {
      top: -20%;
    }

    &__title {
      max-width: 155px;
      margin-bottom: 15px;
      text-align: center;

      font-size: 20px;
      line-height: 1.2;
    }

    &__table {
      width: 100%;
      margin-bottom: 30px;

      tr {
        padding-bottom: 7px;
        border-bottom: 1px solid $gray-600;
        margin-bottom: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }
      }

      td {
        font-size: 16px;
        line-height: 1;
      }
    }

    &__btn {
      padding: 9px 0;
      font-size: 16px;
      line-height: 1.25;
    }

    &__item--special {
      background: #ffffff;
      border: 2px solid $gray-300;
    }

    &__photo-plus {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 12%;
      left: 50%;
      margin-left: -30px;
    }

    &__title-special {
      max-width: 134px;
      margin-top: 0;
      margin-bottom: 21px;

      font-size: 20px;
      line-height: 1.1;
    }

    &__subtitle-special {
      max-width: 167px;
      margin-bottom: 90px;
      font-size: 16px;
      line-height: 1.12;
    }
  }
}

@media (min-width: 1250px) {
  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 80px;
    row-gap: 142px;

    &__item {
      padding: 162px 30px 39px 32px;
    }
  }
}
