/* Selection */
.selection {
  margin-bottom: 40px;

  &__text {
    margin: 37px 0 39px;
    max-width: 226px;

    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #000000;
  }

  &__items {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &--radio {
      padding: 21px 0 17px;
      border-top: 1px solid $gray-750;
      border-bottom: 1px solid $gray-750;
    }
  }

  &__item {
    margin-bottom: 14px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
    color: $gray-900;
  }

  &__input {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: $gray-900;
    line-height: 1.12;
    flex-grow: 1;
    margin-left: 13px;
    height: 45px;
    border: 1px solid #e7e7e7;
    padding: 0 15px;
    outline: none;
    transition: border 0.2s linear;

    &::placeholder {
      color: $gray-900;
      text-transform: uppercase;
    }

    &:hover {
      border: 1px solid $gray-500;
    }

    &:focus {
      border-color: $gray-900;
      box-shadow: 0 0 0 1px $gray-900;
    }
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  /* selection items 2 */
  &__radio-wrapper {
    margin-bottom: 10px;
    transition: opacity 0.2s linear;

    &:last-child {
      margin-bottom: 0;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &__radio + label::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $gray-500;
    border-radius: 50%;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &__radio:checked + label::before {
    background-color: #ffffff;
    background-image: url("../../img/radiobutton-active.svg");
  }

  /* стили при наведении курсора на checkbox */
  &__radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: #bababa;
  }

  &__label-special {
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
    color: $gray-950;
    cursor: pointer;
  }
  /* ./selection items 2*/
}

/* Selection Media */
@media (min-width: 768px) {
  .selection {
    padding-left: 40px;
    margin-bottom: 95px;

    &__text {
      margin: 54px 0 65px;
      max-width: 365px;

      font-size: 20px;
      line-height: 1.5;
    }

    &__items {
      margin-bottom: 73px;

      &:last-child {
        margin-bottom: 0;
      }

      &--radio {
        padding: 28px 0 25px 28px;
        border: 1px solid $gray-750;
      }
    }

    &__item {
      margin-bottom: 23px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__label {
      font-size: 20px;
      line-height: 1.5;
    }

    &__input {
      font-size: 20px;
      line-height: 1.5;
      padding: 0 15px;
      height: 48px;
      margin-left: 20px;
    }

    .selection__radio + label::before {
      width: 40px;
      height: 40px;
      margin-right: 18px;
    }

    &__label-special {
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

@media (min-width: 1250px) {
  .selection {
    padding-left: 0;
    margin-bottom: 85px;

    &__items {
      margin: 0;

      &--radio {
        padding: 23px 0 25px 30px;
      }
    }

    .selection__radio + label::before {
      margin-right: 21px;
    }

    &__item {
      margin-bottom: 21px;
    }

    &__items-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }

    &__text {
      margin: 57px 0 67px;
    }

    &__input {
      height: 50px;
    }
  }
}
