/* Services */
.services {
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding: 30px 33px 21px 20px;
    width: 100%;
    background-color: $gray-300;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin: 0;
    padding-left: 71px;
    padding-bottom: 29px;
    font-size: 24px;
    line-height: 1.54;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -10%;
      left: 3%;
      z-index: 2;
      width: 36px;
      height: 50px;
      background-repeat: no-repeat;
      background-image: url("../../img/icon-cat-slim.svg");
    }

    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $green-500;
      position: absolute;
      top: -5%;
      left: 0;
    }
  }

  &__title--pro {
    &::before {
      top: 10%;
      left: -4%;
      width: 67px;
      height: 28px;
      background: url("../../img/icon-cat-pro.svg");
    }
  }

  &__text {
    padding-bottom: 23px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid $gray-750;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: $gray-900;
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    padding-right: 43px;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 11px;
      background-repeat: no-repeat;
      background-image: url("../../img/icon-right-arrow-long.svg");
      color: #000000;
    }

    &:hover::after {
      width: 29px;
      height: 10px;
      background: url("../../img/icon-right-arrow-verylong.svg");
    }

    &:active {
      opacity: 0.3;
    }
  }
}

/* Services Media */
@media (min-width: 768px) {
  .services {
    &__item {
      padding: 77px 62px 58px 55px;

      &:first-child {
        margin-bottom: 30px;
      }
    }

    &__title {
      padding-left: 0;
      font-size: 36px;
      line-height: 1;
      padding-right: 0;
      padding-bottom: 25px;

      &::before {
        top: 4%;
        left: 73%;
        width: 139px;
        height: 192px;
      }

      &::after {
        width: 200px;
        height: 200px;
        top: 25%;
        left: 67%;
      }
    }

    &__title--pro {
      &::before {
        top: 95%;
        left: 62%;
        width: 268px;
        height: 112px;
      }
    }

    &__text {
      padding: 0;
      margin-bottom: 50px;
      max-width: 377px;
      border: 0;

      font-size: 16px;
      line-height: 1.5;
      color: #000000;
    }

    &__text--pro {
      max-width: 342px;
    }

    &__link {
      padding-right: 50px;
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

@media (min-width: 1250px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;

    &__item {
      padding: 77px 51px 57px 53px;

      &:first-child {
        margin-bottom: 0;
      }
    }

    &__title {
      padding: 0 0 0 162px;
      margin-bottom: 75px;

      &::before {
        top: -106%;
        left: 3%;
        width: 70px;
        height: 97px;
      }

      &::after {
        width: 100px;
        height: 100px;
        top: -85%;
        left: 0;
      }
    }

    &__title--pro {
      &::before {
        top: -27%;
        left: -4%;
        width: 134px;
        height: 56px;
      }
    }

    &__text {
      max-width: none;
      margin-bottom: 25px;
    }

    &__link {
      padding-right: 50px;
    }
  }
}
