/* User Comment */
.user-comment {
  margin: 34px 0 43px;

  &__textarea {
    margin: 0;
    padding: 13px;
    border: 1px solid $gray-425;
    display: block;
    width: 100%;
    height: 150px;
    resize: none;
    outline: none;

    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.12;
    color: $gray-900;

    &::placeholder {
      color: $gray-900;
      text-transform: uppercase;
    }

    &:hover {
      border: 1px solid $gray-500;
    }

    &:focus {
      border: 2px solid $gray-900;
    }
  }
}

/* User Comment Media */
@media (min-width: 768px) {
  .user-comment {
    padding-left: 40px;
    margin: 76px 0 85px;

    &__textarea {
      font-size: 20px;
      line-height: 1.5;
      height: 175px;
    }
  }
}

@media (min-width: 1250px) {
  .user-comment {
    padding-left: 0;
    margin-bottom: 90px;
  }
}
