/* User-Contacts */
.user-contacts {
  margin: 32px 0 40px;

  &__group {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    position: relative;/* для иконок */

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
    color: $gray-900;
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 12px;

    &--mail {
      width: 20px;
      height: 14px;
      top: 15px;
      stroke: #222222;
    }

    &--phone {
      width: 20px;
      height: 20px;
      fill: #000000;
    }
  }

  &__input {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.12;
    color: $gray-900;
    flex-grow: 1;
    margin-left: 10px;
    height: 45px;
    border: 1px solid $gray-425;
    padding: 0 30px 0 15px;
    outline: none;
    transition: border 0.2s linear;

    &::placeholder {
      vertical-align: middle;
      color: $gray-900;
      text-transform: uppercase;
    }

    &:hover {
      border: 1px solid $gray-500;
    }

    &:focus {
      border-color: $gray-900;
      box-shadow: 0 0 0 1px $gray-900;
    }

    &:focus + .user-contacts__icon--mail {
      stroke: $green-500;
    }

    &:focus + .user-contacts__icon--phone {
      fill: $green-500;
    }
  }
}

/* User-Contacts  Media */
@media (min-width: 768px) {
  .user-contacts {
    padding-left: 40px;
    margin: 75px 0 87px;

    &__group {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__label {
      font-size: 20px;
      line-height: 1.5;
    }

    &__input {
      font-size: 20px;
      line-height: 1.5;
      height: 48px;
      margin-left: 20px;
      padding: 0 50px 0 15px;
    }

    &__icon {
      right: 20px;
      top: 14px;

      &--mail {
        top: 17px;
      }
    }
  }
}

@media (min-width: 1250px) {
  .user-contacts {
    margin: 79px 0 88px;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;

    &__group {
      margin-bottom: 0;
    }
  }
}
