$green-700: #5eaa2f;
$green-500: #68b738;
$gray-1000: #111111;
$gray-950: #222222;
$gray-900: #444444;
$gray-750: #d9d9d9;
$gray-700: #d3d3d3;
$gray-600: #dcdcdc;
$gray-500: #cdcdcd;
$gray-450: #eaeaea;
$gray-400: #e6e6e6;
$gray-350: #ebebeb;
$gray-300: #f2f2f2;
