/* Fieldset */
.fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-top: 2px solid $green-500;

  &__title {
    margin-top: -16px;
    font-size: 24px;
    line-height: 1.08;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;

    &--first {
      max-width: 230px;
    }

    &--second {
      max-width: 187px;
    }

    &--third {
      max-width: 125px;
    }

    &--fourth {
      max-width: 145px;
    }
  }
}

/* Fieldset Media */
@media (min-width: 768px) {
  .fieldset {
    &__title {
      margin-top: -23px;
      font-size: 36px;
      line-height: 1;

      &--first {
        max-width: 345px;
      }

      &--second {
        max-width: 520px;
      }

      &--third {
        max-width: 185px;
      }

      &--fourth {
        max-width: 215px;
      }
    }
  }
}
