/* Form-Submit */
.form-submit {
  &__inner {
    text-align: center;
  }

  &__btn {
    display: block;
    width: 100%;
    margin-bottom: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__text {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
  }
}

/* Form-Submit Media */
@media (min-width: 768px) {
  .form-submit {
    padding-left: 56px;

    &__inner {
      display: flex;
      align-items: center;
    }

    &__btn {
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 20px;
      width: 282px;
      margin-bottom: 0;
      margin-right: 61px;
    }

    &__text {
      font-size: 16px;
      line-height: 1;
    }
  }
}

@media (min-width: 1250px) {
  .form-submit {
    padding-left: 0;

    &__btn {
      width: 568px;
      margin-right: 81px;
    }
  }
}
