/* Section */
.section {
  padding-top: 27px;
  padding-bottom: 25px;

  &__title {
    margin: 0;
    font-size: 36px;
    line-height: 1.1;
    color: #000000;
    font-weight: 400;
  }

  &--intro {
    padding-top: 0;
    padding-bottom: 0;
    background: url("../img/index-background-mobile@1x.jpg") no-repeat center top, linear-gradient(180deg, #63a73a 305px, white 305px);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(180deg, #63a73a 305px, white 305px);
      background-size: 320px;
    }
  }

  &--services {
    padding-bottom: 0;
  }

  &--about {
    padding-bottom: 42px;
  }

  &--example {
    padding-bottom: 30px;
    background: #f2f2f2;
  }

  &--border {
    margin-bottom: 40px;
    border-bottom: 1px solid $gray-750;
  }

  &--form {
    padding-top: 20px;
    padding-bottom: 32px;
  }

  &--products {
    padding-bottom: 0;
    padding-top: 22px;
  }
}

/* Section Media */
@media (min-width: 768px) {
  .section {
    padding: 45px 0;

    &__title {
      font-size: 60px;
      line-height: 1;
    }

    &--intro {
      padding-top: 0;
      padding-bottom: 121px;
      background: none;
    }

    &--services {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--example {
      background: linear-gradient(to bottom, #ffffff 57%, #f2f2f2 57%);
      padding-bottom: 60px;
    }

    &--products {
      padding: 65px 0 86px;
    }

    &--border {
      border: none;
      margin-bottom: 0;
    }

    &--form {
      padding-top: 65px;
      padding-bottom: 72px;
    }
  }
}

@media (min-width: 1250px) {
  .section {
    padding: 40px 0;

    &--intro {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 40px;
    }

    &--about {
      padding-top: 32px;
    }

    &--products {
      padding: 75px 0 95px;
    }

    &--example {
      padding-top: 30px;
      padding-bottom: 60px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25.5%, rgba(242, 242, 242, 1) 25.5%);
    }

    &--form {
      padding-top: 74px;
      padding-bottom: 82px;
    }
  }
}

/* Header */
.header {
  &__inner {
    padding: 12px 0 17px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__logo {
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &--mobile {
      width: 191px;
      height: 37.61px;
    }

    &--tablet {
      display: none;
      width: 174px;
      height: 51.68px;
    }

    &--desktop {
      display: none;
      width: 202px;
      height: 59px;
    }
  }
}

/* Header Mdia */
@media (min-width: 768px) {
  .header {
    &__inner {
      padding: 24px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo--mobile {
      display: none;
    }

    &__logo--tablet {
      display: block;
    }
  }
}

@media (min-width: 1250px) {
  .header-wrapper {
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(90deg, white 50%, #65a93c 50%);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 695px;
    }
  }

  .header {
    &__inner {
      padding: 53px 0 0;
    }

    &__logo--tablet {
      display: none;
    }

    &__logo--desktop {
      display: block;
    }
  }
}

/* Footer */
.footer {
  background: $gray-300;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0 22px;
  }

  &__logo {
    width: 128px;
    height: 24px;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__logo-link {
    padding-bottom: 28px;
    border-bottom: 1px solid $gray-750;
    width: 100%;
    text-align: center;
  }
}

/*  Footer Media  */
@media (min-width: 768px) {
  .footer {
    &__inner {
      padding: 55px 0 61px;
      flex-direction: row;
    }

    &__logo-link {
      border: none;
      width: auto;
      padding-bottom: 0;
    }
  }
}

@media (min-width: 1250px) {
  .footer {
    &__inner {
      padding: 57px 0 58px;
    }
  }
}
